#botao {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px;
}

.home{
    -fx-background-image: url(../Images/homehashtag.png);
    -fx-border-color: none !important;
}

.emLeitura{
    -fx-background-image: url(../Images/book1.png);
    -fx-border-color: none !important;
}

.finalizados{
    -fx-background-image: url(../Images/book.png);
    -fx-border-color: none !important;
}

.configuracao{
    -fx-background-image: url(../Images/setting2.png);
    -fx-border-color: none !important;
}

#botao:hover {
    -fx-background-color: #a5acaa;
    -fx-text-fill: #fff;
    -fx-border-color: #000 !important;
}

#botao:hover.home{
    -fx-background-image: url(../Images/homehashtagWhite.png);
    -fx-border-color: #000;
}

#botao:hover.emLeitura{
    -fx-background-image: url(../Images/book1White.png);
    -fx-border-color: #000;
}

#botao:hover.finalizados{
    -fx-background-image: url(../Images/bookWhite.png);
    -fx-border-color: #000;
}

#botao:hover.configuracao{
    -fx-background-image: url(../Images/setting2White.png);
    -fx-border-color: #000;
}

.ativo {
    -fx-border-color: #000 !important;
}

#botao.ativo.home{
    -fx-background-color: #8DB4AD;
    -fx-text-fill: #fff;
    -fx-background-image: url(../Images/homehashtagWhite.png);
}

#botao.ativo.emLeitura{
    -fx-background-color: #8DB4AD;
    -fx-text-fill: #fff;
    -fx-background-image: url(../Images/book1White.png);
}

#botao.ativo.finalizados{
    -fx-background-color: #8DB4AD;
    -fx-text-fill: #fff;
    -fx-background-image: url(../Images/bookWhite.png);
}

#botao.ativo.configuracao{
    -fx-background-color: #8DB4AD;
    -fx-text-fill: #fff;
    -fx-background-image: url(../Images/setting2White.png);
}

.pesquisa{
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-image: url(../Images/lupa.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.pesquisa:hover {
    -fx-background-color: #a5acaa;
}

.sair{
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #000;
}
.sair:hover{
    -fx-background-color: #ECAE7D !important;
}

.botaoClose{
    -fx-background-color: none;
    -fx-background-radius: 30px;
    -fx-background-image: url(../Images/botaoClose.png);
    -fx-background-repeat: no-repeat;
}

.textField{
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #000;
}

.split-menu-button {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #000;
}

.split-menu-button .label {
    -fx-background-color: none;
    -fx-background-radius: 30px;
}

.split-menu-button .menu-item:focused {
    -fx-background-color: #8DB4AD;
}

.split-menu-button .arrow-button {
    -fx-background-color: #fff;
    -fx-background-radius: 1px 15px 15px 1px;
}

.split-menu-button .arrow-button:hover{
    -fx-color: #fff;
    -fx-background-color: #8DB4AD;
}

.excluir {
    -fx-background-image: url(../Images/botaoClose.png);
}

.editar {
    -fx-background-image: url(../Images/botaoEdit.png);
}

.concluir {
    -fx-background-image: url(../Images/botaoOk.png);
}

.editarConta {
    -fx-background-color: #ECAE7D !important;
}

.editarConta:hover {
    -fx-background-color: #b07447 !important;
}

.excluirConta {
    -fx-background-color: #E9311A !important;
}

.excluirConta:hover {
    -fx-background-color: #a11d0c !important;
}


.list-cell {
    -fx-text-fill: black; /* 5 */
}

.list-cell:visited {
    -fx-text-fill: black !important; /* 5 */
}

.list-cell:odd {
    -fx-background-color: none;
}

.list-cell:even {
    -fx-background-color: none;
}

.minhasLeituras .list-cell:odd {
    -fx-background-color: none;
}

.minhasLeituras .list-cell:even {
    -fx-background-color: none;
}

.concluirRedondo {
    -fx-background-color: none;
    -fx-background-image: url(../Images/botaoOk.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
}

.excluirRedondo {
    -fx-background-color: none;
    -fx-background-image: url(../Images/botaoClose.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
}

.container {
    -fx-background-image: url(../Images/fundoLivrosLidos.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: green !important; /* 5 */
}


.tituloLivro:visited {
    -fx-text-fill: black !important; /* 5 */
}

.tituloLivro {
    -fx-font-weight: bold;
    
    -fx-font-size: 15px
}

.containerFinalizados {
    -fx-background-image: url(../Images/fundoLivroLido.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.containerEmLeitura {
    -fx-background-color: #fff;
    -fx-background-radius: 14px;
    -fx-border-color: #000;
    -fx-border-radius: 15px;
    -fx-border-width: 2px; 
}

.excluirLeitura {
    -fx-background-image: url(../Images/botaoClose.png);
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px;
}

.excluirLeitura:hover {
    -fx-background-color: #a5acaa;
    -fx-text-fill: #fff;
    -fx-border-color: #000 !important;
}

.editarLeitura {
    -fx-background-image: url(../Images/botaoEdit.png);
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px;
}

.editarLeitura:hover {
    -fx-background-color: #a5acaa;
    -fx-text-fill: #fff;
    -fx-border-color: #000 !important;
}

.concluirLeitura {
    -fx-background-image: url(../Images/botaoOk.png);
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px;
}

.concluirLeitura:hover {
    -fx-background-color: #a5acaa;
    -fx-text-fill: #fff;
    -fx-border-color: #000 !important;
}